@font-face {
  font-family: iconfont;
  font-weight: normal;
  font-style: normal;
  src: url('@/iconfont/iconfont.ttf')
  format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-scan:before {
  content: "\e64f";
}

.icon-coupon:before {
  content: "\e64e";
}

.icon-zhiding-shixin:before {
  content: "\e654";
}

.icon-zhiding:before {
  content: "\e64d";
}

.icon-zhiwen:before {
  content: "\e64c";
}

.icon-paiban:before {
  content: "\e64a";
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-caidan:before {
  content: "\e8ad";
}

.icon-anquan:before {
  content: "\e8ae";
}

.icon-bangzhu:before {
  content: "\e8af";
}

.icon-bofangjilu:before {
  content: "\e8b0";
}

.icon-arrow-right:before {
  content: "\e743";
}

.icon-arrow-lift:before {
  content: "\e744";
}

.icon-arrow-up:before {
  content: "\e745";
}

.icon-browse:before {
  content: "\e746";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-lianchexiangmutubiao-:before {
  content: "\e600";
}

.icon-lc-:before {
  content: "\e601";
}

.icon-lc-1:before {
  content: "\e602";
}

.icon-lc-2:before {
  content: "\e603";
}

.icon-lc-3:before {
  content: "\e604";
}

.icon-lc-4:before {
  content: "\e605";
}

.icon-lc-5:before {
  content: "\e606";
}

.icon-lc-6:before {
  content: "\e607";
}

.icon-lc-7:before {
  content: "\e608";
}

.icon-lc-8:before {
  content: "\e609";
}

.icon-lc-9:before {
  content: "\e60a";
}

.icon-lc-10:before {
  content: "\e60b";
}

.icon-lc-11:before {
  content: "\e60c";
}

.icon-lc-12:before {
  content: "\e60d";
}

.icon-lc-13:before {
  content: "\e60e";
}

.icon-lc-14:before {
  content: "\e60f";
}

.icon-lc-15:before {
  content: "\e610";
}

.icon-lc-16:before {
  content: "\e611";
}

.icon-lc-17:before {
  content: "\e612";
}

.icon-lc-18:before {
  content: "\e613";
}

.icon-lc-19:before {
  content: "\e614";
}

.icon-lc-20:before {
  content: "\e615";
}

.icon-lc-21:before {
  content: "\e616";
}

.icon-lc-22:before {
  content: "\e617";
}

.icon-lc-23:before {
  content: "\e618";
}

.icon-lc-24:before {
  content: "\e619";
}

.icon-lc-25:before {
  content: "\e61a";
}

.icon-lc-26:before {
  content: "\e61b";
}

.icon-lc-27:before {
  content: "\e61c";
}

.icon-lc-28:before {
  content: "\e61d";
}

.icon-lc-29:before {
  content: "\e61e";
}

.icon-lc-30:before {
  content: "\e61f";
}

.icon-lc-31:before {
  content: "\e620";
}

.icon-lc-32:before {
  content: "\e621";
}

.icon-lc-33:before {
  content: "\e622";
}

.icon-lc-34:before {
  content: "\e623";
}

.icon-lc-35:before {
  content: "\e624";
}

.icon-lc-36:before {
  content: "\e625";
}

.icon-lc-37:before {
  content: "\e626";
}

.icon-lc-38:before {
  content: "\e627";
}

.icon-lc-39:before {
  content: "\e628";
}

.icon-lc-40:before {
  content: "\e629";
}

.icon-lc-41:before {
  content: "\e62a";
}

.icon-lc-42:before {
  content: "\e62b";
}

.icon-lc-43:before {
  content: "\e62c";
}

.icon-lc-44:before {
  content: "\e62d";
}

.icon-lc-45:before {
  content: "\e62e";
}

.icon-lc-46:before {
  content: "\e62f";
}

.icon-lc-47:before {
  content: "\e630";
}

.icon-lc-48:before {
  content: "\e631";
}

.icon-lc-49:before {
  content: "\e632";
}

.icon-lc-50:before {
  content: "\e633";
}

.icon-lc-51:before {
  content: "\e634";
}

.icon-lc-52:before {
  content: "\e635";
}

.icon-lc-53:before {
  content: "\e636";
}

.icon-lc-54:before {
  content: "\e637";
}

.icon-lc-55:before {
  content: "\e638";
}

.icon-lc-56:before {
  content: "\e639";
}

.icon-lc-57:before {
  content: "\e63a";
}

.icon-lc-58:before {
  content: "\e63b";
}

.icon-lc-59:before {
  content: "\e63c";
}

.icon-lc-60:before {
  content: "\e63d";
}

.icon-lc-61:before {
  content: "\e63e";
}

.icon-lc-62:before {
  content: "\e63f";
}

.icon-lc-63:before {
  content: "\e640";
}

.icon-lc-64:before {
  content: "\e641";
}

.icon-lc-65:before {
  content: "\e642";
}

.icon-lc-66:before {
  content: "\e643";
}

.icon-lc-67:before {
  content: "\e644";
}

.icon-lc-68:before {
  content: "\e645";
}

.icon-lc-69:before {
  content: "\e646";
}

.icon-lc-70:before {
  content: "\e647";
}

.icon-lc-71:before {
  content: "\e648";
}

.icon-lianchexiangmutubiao_shuchuban-:before {
  content: "\e649";
}

.icon-logout:before {
  content: "\e64b";
}

.icon-Notvisible:before {
  content: "\e6fe";
}